////
/// Application settings
////

///
/// Colors
///
$color-light-grey:        #ccc;
$color-grey:              #666;
$color-blue:              #69d2e7;
$color-blue-darken:       #5ebccf;
$color-sea:               #a7dbd8;
$color-sea-darken:        #96c4c2;
$color-tan:               #e0e4cc;
$color-tan-darken:        #c9ccb7;
$color-orange:            #f38630;
$color-orange-darken:     #da782b;
$color-orange-alt:        #fa6900;
$color-orange-alt-darken: #e05e00;

///
/// Fonts
///
$font-family-primary: 'Source Sans Pro', sans-serif;

///
/// Spinner
///
$spinkit-spinner-color: $color-light-grey;
$spinkit-spinner-margin: 0;
